<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnlineLibrary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A8BC2E22C27F5FF00848AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A8BC2F22C27F60000848AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A8BC2FC2C27F60000848AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
